<html>  <head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <!-- Loading the AngularJS file -->
    <script src="Angularjs/sanjose.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script> <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script></head>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- css files -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<body  ng-app="sanjose" ng-controller="signup" ng-init="hello();" style="background-image: url(/images/welcome.png);">
<modal title="Successfully inserted" visible="showBillModal">
  </modal>
           
<p style="text-align:center"></p>
<img src="images/strip.png" style="position: absolute;align:center;left: 0px;top: 0px;z-index: -1;" alt="nav-bar" height="50px" width="100%">
<div class="row">	
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
        
    <!-- <div class="field-input">-->
    <div class="signup-wrapper">
        <h1>You can help us grow more!!</h1>
        <form name="insertClient">
        
        <input type="text" class="textbox-control" name="city" id="email" placeholder="City" required ng-model="city"></br></br>
        <input type="text" class="textbox-control"name="password" id="inputPassword" placeholder="Disease" required ng-model="disease"></br></br>
        <div class="signup-wrapper">
  <input type="submit" style="color:white" class="submit-button" value="Submit" ng-disable="insertClient.$invalid" style="position:relative;left:0px;" ng-click="submit();"></br></br>
             <a style="color:#1da1f2" href="/travel">Do you have any travel plan?</a>
        </div>
        </form>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
        <div class="col-sm-2">
        </div>
        </div>
<!-- After Signup Modal -->






</body>
</html>



