<html>  <head>

</head>
<title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
 <script src="http://maps.google.com/maps/api/js?sensor=false" 
          type="text/javascript"></script>

<script src="angularjs/sanjose.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />

<body  ng-app="sanjose" ng-controller="sanfranscisco">
<img src="images/strip.png" style="position: absolute;align:center;left: 0px;top: 0px;z-index: -1;" alt="nav-bar" height="50px" width="100%">

<br><br>

<div class="row">
<div class ="col-sm-4">

<div id="map" style="width: 400px; height: 400px;"></div>
<script type="text/javascript">
//add locations
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 8,
      center: new google.maps.LatLng(37.7749, -122.4194),
      mapTypeId: google.maps.MapTypeId.TERRAIN
    });

		
		 geocodeLine1("37.7749", "-122.4194");		
		
		
       
    function geocodeLine1(pointLat1, pointLon1)
    {
        var gc = new google.maps.Geocoder();
		
		 
		 	  
			  var source = new google.maps.LatLng(pointLat1, pointLon1);

  // Draw a circle around the radius
  var circle = new google.maps.Circle({
    center: source,
    radius: 20000, //convert miles to meters
    strokeColor: "#FF00FF",
    strokeOpacity: 0.4,
    strokeWeight: 1,
    fillColor: "#0000FF",
    fillOpacity: 0.4
   });          
   circle.setMap(map);  
   
   var destination = new google.maps.LatLng(pointLat2, pointLon2);			  
             
    }
  </script>
  
<br><br><br>
<a href="/travel">Back to Search</a>
</div>
<div class="col-sm-8"  style="background-color:lavenderblush;">
<div align="center">
<h2> Know before you go!!!</h2>
</div>
<strong><h3>Results:</h3></strong>
<table class="table">
    <tbody>
      <tr>
        <td><strong>Disease</strong></td>
        <td><strong>{{result1.disease}}</strong></td>
      </tr>
      <tr>
        <td>Count</td>
        <td>{{count1}}</td>
      </tr>
      <tr>
        <td>Precautions</td>
        <td>There is no vaccine available or direct cure against dengue.
	  Keep all drains free from choke.<br>
          Cover all containers that hold water to prevent mosquito from accessing the water.<br>
          Clear household garbage everyday by disposing into the refuse bins which are covered properly.<br>
          <a href="http://www.healthline.com/health/malaria#Overview1"> more details</a>
</td>
      </tr>
           	
           
      <tr>
        <td><strong>Disease</strong></td>
        <td><strong>{{result3.disease}}</strong></td>
      </tr>
      <tr>
        <td>Count</td>
        <td>{{count3}}</td>
      </tr>
      <tr>
        <td>Precautions</td>
        <td>Avoid contact/ itching the affected area<br>
Carry cold creams or moisturizers<br>
Keep yourself hydrated<br>
<a href="http://www.emedicinehealth.com/tuberculosis/page7_em.htm"> more details</a></td>
      </tr>
        <tr>
        <td><strong>Disease</strong></td>
        <td><strong>{{result5.disease}}</strong></td>
      </tr>
      <tr>
        <td>Count</td>
        <td>{{count5}}</td>
      </tr>
      <tr>
        <td>Precautions</td>
        <td>Do not rub your eyes, as this can transmit germs to your nasal passages via the tear ducts.<br>
			Get enough sleep and rest.<br>
			Reduce exposure by carrying a face mask
.<br><a href="http://www.disabled-world.com/health/respiratory/"> more details</a></td>
      </tr>
            
    </tbody>
  </table>

    </div>

</div>






<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->

</body>
</html>



